@font-face {
  font-family: 'Exo-Medium';
  src: url('../fonts/Exo-Medium.woff2') format('woff2'),
  url('../fonts/Exo-Medium.woff') format('woff'),
  url('../fonts/Exo-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Exo-Regular';
  src: url('../fonts/Exo-Regular.woff2') format('woff2'),
  url('../fonts/Exo-Regular.woff') format('woff'),
  url('../fonts/Exo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Exo-Regular-Italic';
  src: url('../fonts/Exo-Regular-Italic.woff2') format('woff2'),
  url('../fonts/Exo-Regular-Italic.woff') format('woff'),
  url('../fonts/Exo-Regular-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Exo-Thin';
  src: url('../fonts/Exo-Thin.woff2') format('woff2'),
  url('../fonts/Exo-Thin.woff') format('woff'),
  url('../fonts/Exo-Thin.ttf') format('truetype');
}
