//fonts
$exomedium : 'Exo-Medium', sans-serif;
$exoregular : 'Exo-Regular', sans-serif;
$exoregularitalic : 'Exo-Regular-Italic', sans-serif;
$exothin : 'Exo-Thin', sans-serif;


//colors
$black : #282828;
$grey : #8A8A8A;
$orange : #FF6D6D;
$orange2 : #fb8686;
$white : #f6f5f3;
