.design-section .container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  .triangle {
    width: 40%;
    height: 100%;
    margin-left: auto;
    background-color: #ECECEC;
    padding-top: 100px;
    overflow: hidden;
    .triangle-bottomright {
      width: 0;
      height: 0;
      border-left: 650px solid transparent;
      border-bottom: 570px solid $orange2;
    }
  }
}
.content-block {
  @extend .content-block-stiles;
  margin-left: 100px;
  span {
    padding-bottom: 15px;
  }
  h2 {
    padding-bottom: 45px;
    span {
      font-size: 40px;
    }
  }
  p {
    line-height: 1.5;
    padding-bottom: 40px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}
