.reviews-section {
  position: relative;
  background-image: url(../../images/background2.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .60;
  }
}
.reviews-section .container {
  z-index: 10;
  padding-top: 110px;
  padding-bottom: 90px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .reviews-section-block {
    display: flex;
    align-items: stretch;
    .review {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 330px;
      margin: auto;
      z-index: 10;
      padding-right: 5px;
      padding-left: 5px;
      img {
        margin: 0 auto 20px;
      }
      h3 {
        margin: 0 auto 10px;
        color: #ffffff;
      }
      span {
        margin: 0 auto 38px;
        font-weight: bold;
      }
      p {
        text-align: center;
        color: #A6A7AA;
        font-family: $exoregularitalic;
      }
    }
  }
  .partners {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    .hits-logo {
      display: inline-block;
      @include sprite($hits);
    }
    .rvlvr-logo {
      display: inline-block;
      @include sprite($rvlvr);
    }
    .eatfindr-logo {
      display: inline-block;
      @include sprite($eatfindr);
    }
    .igor-logo {
      display: inline-block;
      @include sprite($igor);
    }
    .sienna-logo {
      display: inline-block;
      @include sprite($sienna);
    }
  }
}

@media (max-width: 575px) {
  .reviews-section .container {
    padding-top: 30px;
    padding-bottom: 30px;
    .reviews-section-block {
      flex-direction: column;
      .review {
        padding-top: 20px;
      }
    }
    .partners {
      display: none;
    }
  }
}
