.some-features-section {
  background-color: #f6f5f3;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    min-height: 750px;
    span {
      padding-bottom: 15px;
    }
    h2 {
      padding-bottom: 50px;
    }
    p {
      line-height: 1.5;
      text-align: center;
      max-width: 570px;
    }
    img {
      position: absolute;
      bottom: 0;
    }
  }
}


@media (max-width: 768px) {
  .some-features-section {
    .container {
      min-height: 600px;
      img {
        width: 90%;
      }
    }
  }
}



@media (max-width: 480px) {
  .some-features-section {
    .container {
      padding-top: 30px;
      min-height: 450px;
    }
  }
}
