// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$airplane-icon-name: 'airplane-icon';
$airplane-icon-x: 252px;
$airplane-icon-y: 68px;
$airplane-icon-offset-x: -252px;
$airplane-icon-offset-y: -68px;
$airplane-icon-width: 67px;
$airplane-icon-height: 67px;
$airplane-icon-total-width: 319px;
$airplane-icon-total-height: 213px;
$airplane-icon-image: '../images/sprite.png';
$airplane-icon: (252px, 68px, -252px, -68px, 67px, 67px, 319px, 213px, '../images/sprite.png', 'airplane-icon', );
$bulb-icon-name: 'bulb-icon';
$bulb-icon-x: 252px;
$bulb-icon-y: 136px;
$bulb-icon-offset-x: -252px;
$bulb-icon-offset-y: -136px;
$bulb-icon-width: 67px;
$bulb-icon-height: 67px;
$bulb-icon-total-width: 319px;
$bulb-icon-total-height: 213px;
$bulb-icon-image: '../images/sprite.png';
$bulb-icon: (252px, 136px, -252px, -136px, 67px, 67px, 319px, 213px, '../images/sprite.png', 'bulb-icon', );
$cursor-icon-name: 'cursor-icon';
$cursor-icon-x: 131px;
$cursor-icon-y: 112px;
$cursor-icon-offset-x: -131px;
$cursor-icon-offset-y: -112px;
$cursor-icon-width: 22px;
$cursor-icon-height: 22px;
$cursor-icon-total-width: 319px;
$cursor-icon-total-height: 213px;
$cursor-icon-image: '../images/sprite.png';
$cursor-icon: (131px, 112px, -131px, -112px, 22px, 22px, 319px, 213px, '../images/sprite.png', 'cursor-icon', );
$dribbble-icon-name: 'dribbble-icon';
$dribbble-icon-x: 154px;
$dribbble-icon-y: 112px;
$dribbble-icon-offset-x: -154px;
$dribbble-icon-offset-y: -112px;
$dribbble-icon-width: 20px;
$dribbble-icon-height: 21px;
$dribbble-icon-total-width: 319px;
$dribbble-icon-total-height: 213px;
$dribbble-icon-image: '../images/sprite.png';
$dribbble-icon: (154px, 112px, -154px, -112px, 20px, 21px, 319px, 213px, '../images/sprite.png', 'dribbble-icon', );
$eatfindr-name: 'eatfindr';
$eatfindr-x: 0px;
$eatfindr-y: 66px;
$eatfindr-offset-x: 0px;
$eatfindr-offset-y: -66px;
$eatfindr-width: 98px;
$eatfindr-height: 85px;
$eatfindr-total-width: 319px;
$eatfindr-total-height: 213px;
$eatfindr-image: '../images/sprite.png';
$eatfindr: (0px, 66px, 0px, -66px, 98px, 85px, 319px, 213px, '../images/sprite.png', 'eatfindr', );
$facebook-icon-name: 'facebook-icon';
$facebook-icon-x: 99px;
$facebook-icon-y: 66px;
$facebook-icon-offset-x: -99px;
$facebook-icon-offset-y: -66px;
$facebook-icon-width: 11px;
$facebook-icon-height: 21px;
$facebook-icon-total-width: 319px;
$facebook-icon-total-height: 213px;
$facebook-icon-image: '../images/sprite.png';
$facebook-icon: (99px, 66px, -99px, -66px, 11px, 21px, 319px, 213px, '../images/sprite.png', 'facebook-icon', );
$googleplus-icon-name: 'googleplus-icon';
$googleplus-icon-x: 175px;
$googleplus-icon-y: 112px;
$googleplus-icon-offset-x: -175px;
$googleplus-icon-offset-y: -112px;
$googleplus-icon-width: 20px;
$googleplus-icon-height: 17px;
$googleplus-icon-total-width: 319px;
$googleplus-icon-total-height: 213px;
$googleplus-icon-image: '../images/sprite.png';
$googleplus-icon: (175px, 112px, -175px, -112px, 20px, 17px, 319px, 213px, '../images/sprite.png', 'googleplus-icon', );
$hits-name: 'hits';
$hits-x: 0px;
$hits-y: 0px;
$hits-offset-x: 0px;
$hits-offset-y: 0px;
$hits-width: 130px;
$hits-height: 65px;
$hits-total-width: 319px;
$hits-total-height: 213px;
$hits-image: '../images/sprite.png';
$hits: (0px, 0px, 0px, 0px, 130px, 65px, 319px, 213px, '../images/sprite.png', 'hits', );
$igor-name: 'igor';
$igor-x: 0px;
$igor-y: 152px;
$igor-offset-x: 0px;
$igor-offset-y: -152px;
$igor-width: 95px;
$igor-height: 61px;
$igor-total-width: 319px;
$igor-total-height: 213px;
$igor-image: '../images/sprite.png';
$igor: (0px, 152px, 0px, -152px, 95px, 61px, 319px, 213px, '../images/sprite.png', 'igor', );
$picture-icon-name: 'picture-icon';
$picture-icon-x: 252px;
$picture-icon-y: 0px;
$picture-icon-offset-x: -252px;
$picture-icon-offset-y: 0px;
$picture-icon-width: 67px;
$picture-icon-height: 67px;
$picture-icon-total-width: 319px;
$picture-icon-total-height: 213px;
$picture-icon-image: '../images/sprite.png';
$picture-icon: (252px, 0px, -252px, 0px, 67px, 67px, 319px, 213px, '../images/sprite.png', 'picture-icon', );
$play-icon-name: 'play-icon';
$play-icon-x: 96px;
$play-icon-y: 152px;
$play-icon-offset-x: -96px;
$play-icon-offset-y: -152px;
$play-icon-width: 59px;
$play-icon-height: 59px;
$play-icon-total-width: 319px;
$play-icon-total-height: 213px;
$play-icon-image: '../images/sprite.png';
$play-icon: (96px, 152px, -96px, -152px, 59px, 59px, 319px, 213px, '../images/sprite.png', 'play-icon', );
$rvlvr-name: 'rvlvr';
$rvlvr-x: 131px;
$rvlvr-y: 55px;
$rvlvr-offset-x: -131px;
$rvlvr-offset-y: -55px;
$rvlvr-width: 110px;
$rvlvr-height: 56px;
$rvlvr-total-width: 319px;
$rvlvr-total-height: 213px;
$rvlvr-image: '../images/sprite.png';
$rvlvr: (131px, 55px, -131px, -55px, 110px, 56px, 319px, 213px, '../images/sprite.png', 'rvlvr', );
$sienna-name: 'sienna';
$sienna-x: 131px;
$sienna-y: 0px;
$sienna-offset-x: -131px;
$sienna-offset-y: 0px;
$sienna-width: 120px;
$sienna-height: 54px;
$sienna-total-width: 319px;
$sienna-total-height: 213px;
$sienna-image: '../images/sprite.png';
$sienna: (131px, 0px, -131px, 0px, 120px, 54px, 319px, 213px, '../images/sprite.png', 'sienna', );
$twitter-icon-name: 'twitter-icon';
$twitter-icon-x: 196px;
$twitter-icon-y: 112px;
$twitter-icon-offset-x: -196px;
$twitter-icon-offset-y: -112px;
$twitter-icon-width: 19px;
$twitter-icon-height: 17px;
$twitter-icon-total-width: 319px;
$twitter-icon-total-height: 213px;
$twitter-icon-image: '../images/sprite.png';
$twitter-icon: (196px, 112px, -196px, -112px, 19px, 17px, 319px, 213px, '../images/sprite.png', 'twitter-icon', );
$spritesheet-width: 319px;
$spritesheet-height: 213px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($airplane-icon, $bulb-icon, $cursor-icon, $dribbble-icon, $eatfindr, $facebook-icon, $googleplus-icon, $hits, $igor, $picture-icon, $play-icon, $rvlvr, $sienna, $twitter-icon, );
$spritesheet: (319px, 213px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
